.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2); /* Dim the background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above other page content */
}

.modal {
    background-color: #ffffff; /* White background for the modal */
    padding: 20px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    z-index: 1001; /* Higher than the backdrop */
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    
}

.not-editable-reg {
    background-color: rgba(0,0,0,0.2); /* Dim the background */

}

.btn-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px auto;
}

.btn-div button {
    height: 40px;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
}

.btn-div .green-btn {
    background-color: var(--green);
}

.btn-div .green-btn:hover{
    background-color: var(--dark-green);
    color: var(--white);
}



.btn-div .red-btn {
    background-color: var(--red);
}

.btn-div .red-btn:hover{
    background-color: var(--dark-red);
    color: var(--white);
}


input {
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 3px;
}