header{
    width: 100%;
    background-color: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
}

.img-container{
    width: 10%;
}

nav{
   width: 50%;
   display: flex;
   justify-content: flex-end;
   gap: 20px; 
}

a {
    display: block;
    color: var(--dark-blue);
    font-size: 18px;

}

a:hover {
    color: var(--red);
}