:root {
    /* colors */

    --red: #F06956;
    --dark-red: #9e4135;
    --yellow: #FBBD4C;
    --pink: #F4A9B0;
    --blue: #92AEC6;
    --dark-blue: #3e4e5c;
    --green: #53be94;
    --dark-green: #336d57;
    --white: #ffffff;
    --light-gray: #ececec;
    --dark-gray: #535353;
}
